<form method="post" action="{{ path('tbl_detalle_atendido_delete', {'idDetalleAtendido': tbl_detalle_atendido.idDetalleAtendido}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tbl_detalle_atendido.idDetalleAtendido) }}">
    <button class="btn">Delete</button>
</form>
