{% extends 'base.html.twig' %}

{% block title %}New TblDetalleAtendido{% endblock %}

{% block body %}
    <h1>Create new TblDetalleAtendido</h1>

    {{ include('tbl_detalle_atendido/_form.html.twig') }}

    <a href="{{ path('tbl_detalle_atendido_index') }}">back to list</a>
{% endblock %}
