{% extends 'base.html.twig' %}

{% block title %}Edit TblPerdida{% endblock %}

{% block body %}
    <h1>Edit TblPerdida</h1>

    {{ include('tbl_perdida/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tbl_perdida_index') }}">back to list</a>

    {{ include('tbl_perdida/_delete_form.html.twig') }}
{% endblock %}
