{% extends 'base.html.twig' %}

{% block title %}New TblNotaCredito{% endblock %}

{% block body %}
    <h1>Create new TblNotaCredito</h1>

    {{ include('tbl_nota_credito/_form.html.twig') }}

    <a href="{{ path('tbl_nota_credito_index') }}">back to list</a>
{% endblock %}
