{% extends 'base.html.twig' %}

{% block title %}Edit TblPedido{% endblock %}

{% block body %}
    <h1>Edit TblPedido</h1>

    {{ include('tbl_pedido/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tbl_pedido_index') }}">back to list</a>

    {{ include('tbl_pedido/_delete_form.html.twig') }}
{% endblock %}
