<form method="post" action="{{ path('tbl_detalle_comprobante_venta_delete', {'idDetalleComprobanteVenta': tbl_detalle_comprobante_ventum.idDetalleComprobanteVenta}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tbl_detalle_comprobante_ventum.idDetalleComprobanteVenta) }}">
    <button class="btn">Delete</button>
</form>
