{% extends 'base.html.twig' %}

{% block title %}Edit TblUsuario{% endblock %}

{% block body %}
    <h1>Edit TblUsuario</h1>

    {{ include('tbl_usuario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tbl_usuario_index') }}">back to list</a>

    {{ include('tbl_usuario/_delete_form.html.twig') }}
{% endblock %}
