{% extends 'base.html.twig' %}

{% block title %}Edit TblDetalleNotaCredito{% endblock %}

{% block body %}
    <h1>Edit TblDetalleNotaCredito</h1>

    {{ include('tbl_detalle_nota_credito/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tbl_detalle_nota_credito_index') }}">back to list</a>

    {{ include('tbl_detalle_nota_credito/_delete_form.html.twig') }}
{% endblock %}
