{% extends 'base.html.twig' %}

{% block title %}New TblProducto{% endblock %}

{% block body %}
    <h1>Create new TblProducto</h1>

    {{ include('tbl_producto/_form.html.twig') }}

    <a href="{{ path('tbl_producto_index') }}">back to list</a>
{% endblock %}
