{% extends 'base.html.twig' %}

{% block title %}New TblUnidadMedida{% endblock %}

{% block body %}
    <h1>Create new TblUnidadMedida</h1>

    {{ include('tbl_unidad_medida/_form.html.twig') }}

    <a href="{{ path('tbl_unidad_medida_index') }}">back to list</a>
{% endblock %}
