{% extends 'base.html.twig' %}

{% block title %}New TblComprobanteCompra{% endblock %}

{% block body %}
    <h1>Create new TblComprobanteCompra</h1>

    {{ include('tbl_comprobante_compra/_form.html.twig') }}

    <a href="{{ path('tbl_comprobante_compra_index') }}">back to list</a>
{% endblock %}
