<form method="post" action="{{ path('tbl_orden_compra_delete', {'idOrdenCompra': tbl_orden_compra.idOrdenCompra}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tbl_orden_compra.idOrdenCompra) }}">
    <button class="btn">Delete</button>
</form>
