{% extends 'base.html.twig' %}

{% block title %}Edit TblTipoDocumento{% endblock %}

{% block body %}
    <h1>Edit TblTipoDocumento</h1>

    {{ include('tbl_tipo_documento/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tbl_tipo_documento_index') }}">back to list</a>

    {{ include('tbl_tipo_documento/_delete_form.html.twig') }}
{% endblock %}
