{% extends 'base.html.twig' %}

{% block title %}Edit TblTalla{% endblock %}

{% block body %}
    <h1>Edit TblTalla</h1>

    {{ include('tbl_talla/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tbl_talla_index') }}">back to list</a>

    {{ include('tbl_talla/_delete_form.html.twig') }}
{% endblock %}
