{% extends 'base.html.twig' %}

{% block title %}Edit TblProductoDetalle{% endblock %}

{% block body %}
    <h1>Edit TblProductoDetalle</h1>

    {{ include('tbl_producto_detalle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tbl_producto_detalle_index') }}">back to list</a>

    {{ include('tbl_producto_detalle/_delete_form.html.twig') }}
{% endblock %}
