{% extends 'base.html.twig' %}

{% block title %}New TblDetalleComprobanteCompra{% endblock %}

{% block body %}
    <h1>Create new TblDetalleComprobanteCompra</h1>

    {{ include('tbl_detalle_comprobante_compra/_form.html.twig') }}

    <a href="{{ path('tbl_detalle_comprobante_compra_index') }}">back to list</a>
{% endblock %}
