{% extends 'base.html.twig' %}

{% block title %}New TblNumeracion{% endblock %}

{% block body %}
    <h1>Create new TblNumeracion</h1>

    {{ include('tbl_numeracion/_form.html.twig') }}

    <a href="{{ path('tbl_numeracion_index') }}">back to list</a>
{% endblock %}
