{% extends 'base.html.twig' %}

{% block title %}New TblDetalleOrdenCompra{% endblock %}

{% block body %}
    <h1>Create new TblDetalleOrdenCompra</h1>

    {{ include('tbl_detalle_orden_compra/_form.html.twig') }}

    <a href="{{ path('tbl_detalle_orden_compra_index') }}">back to list</a>
{% endblock %}
