<form method="post" action="{{ path('tbl_tipo_comprobante_delete', {'idTipoComprobante': tbl_tipo_comprobante.idTipoComprobante}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tbl_tipo_comprobante.idTipoComprobante) }}">
    <button class="btn">Delete</button>
</form>
