{% extends 'base.html.twig' %}

{% block title %}New TblLote{% endblock %}

{% block body %}
    <h1>Create new TblLote</h1>

    {{ include('tbl_lote/_form.html.twig') }}

    <a href="{{ path('tbl_lote_index') }}">back to list</a>
{% endblock %}
