<form method="post" action="{{ path('tbl_cargo_delete', {'idCargo': tbl_cargo.idCargo}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tbl_cargo.idCargo) }}">
    <button class="btn">Delete</button>
</form>
