{% extends 'base.html.twig' %}

{% block title %}Edit TblCargo{% endblock %}

{% block body %}
    <h1>Edit TblCargo</h1>

    {{ include('tbl_cargo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tbl_cargo_index') }}">back to list</a>

    {{ include('tbl_cargo/_delete_form.html.twig') }}
{% endblock %}
