{% extends 'base.html.twig' %}

{% block title %}New TblGuiaSalida{% endblock %}

{% block body %}
    <h1>Create new TblGuiaSalida</h1>

    {{ include('tbl_guia_salida/_form.html.twig') }}

    <a href="{{ path('tbl_guia_salida_index') }}">back to list</a>
{% endblock %}
