{% extends 'base.html.twig' %}

{% block title %}Edit TblTipoEmpresa{% endblock %}

{% block body %}
    <h1>Edit TblTipoEmpresa</h1>

    {{ include('tbl_tipo_empresa/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tbl_tipo_empresa_index') }}">back to list</a>

    {{ include('tbl_tipo_empresa/_delete_form.html.twig') }}
{% endblock %}
