{% extends 'base.html.twig' %}

{% block title %}New TblTipoEmpresa{% endblock %}

{% block body %}
    <h1>Create new TblTipoEmpresa</h1>

    {{ include('tbl_tipo_empresa/_form.html.twig') }}

    <a href="{{ path('tbl_tipo_empresa_index') }}">back to list</a>
{% endblock %}
